HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Игнорировать системные файлы
.DS_Store

# Игнорировать временные файлы и сборочные артефакты
build/
out/

# Игнорировать Gradle файлы кеша
.gradle/

# Игнорировать исполняемые файлы
gradlew
gradlew.bat

# Игнорировать пользовательские настройки IDE
.idea/
*.iml
.vscode/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
